.nav-link {
    padding: 5px 20px;
    margin: 10px;
    color: black;
    border-radius: 10px;
}
.navbar-brand{
    font-weight: bold;
    font-size: 24px;
}
#instructors img{
    height: 100px;
    width: 100px;
    border: 2px solid blue;
}
#contact img{
    height: 400px;
}

@media (min-width:768px){
       .news-input{
        width: 50%;
}
}
